{% extends "layout.html" %}
{% block body %}
<form role="form" action="/return" method="post">
    <div class="form-group">
        <label for="book_type">Book Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="book_type" id="regular-book" value="Regular Book" checked>
                Regular Book
            </label>
        <div class="radio">
            <label>
                <input type="radio" name="book_type" id="big-book" value="Big Book">
                Big Book
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="barcodes">Barcode Number(s)</label>
        <small>Go to the next line after each barcode number</small>
        <textarea class="form-control" id="barcodes" name="barcodes" placeholder="Scan/Enter the Barcode(s)" style="height: 200px;"></textarea>
    </div>
    <div class="form-group">
        <label for="stickers">Sticker Tags</label>
        <small>Go to the next line after each sticker tag</small>
        <textarea class="form-control" id="stickers" name="stickers" placeholder="Enter the Sticker Tag(s)" style="height: 200px;"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Return!</button>
</form>
{% endblock %}
