{% extends "layout.html" %}
{% block body %}
<h3>Your search results: <small>{{ search_query }}</small></h3>

{% if books|length != 0 %}
<h4>Books</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Barcode Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Total Number of Copies</th>
            <th class="col-md-2">List of Library Sticker Tags</th>
            <th class="col-md-3">Date Borrowed and Borrower of Unspecified Copy</th>
        </tr>
    {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[6] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% if big_books|length != 0 %}
<h4>Big Books</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Barcode Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Total Number of Copies</th>
            <th class="col-md-2">List of Library Sticker Tags</th>
            <th class="col-md-3">Date Borrowed and Borrower of Unspecified Copy</th>
        </tr>
    {% for book in big_books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[6] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% if audio_books|length != 0 %}
<h4>Audio Books</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Barcode Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Total Number of Copies</th>
            <th class="col-md-2">List of Library Sticker Tags</th>
            <th class="col-md-3">Date Borrowed and Borrower of Unspecified Copy</th>
        </tr>
    {% for book in audio_books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[6] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}
